<html>
  <head>
    <!--css files-->
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!--custom styles-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>

  <body>

    <!--include content-->
    <% include layout %>

    <!--scripts-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--custom javascript-->
    <script src="/javascripts/scripts.js"></script>

  </body>
</html>
